{% extends "base.html" %}

{% block content %}
	<div class="single-column-layout-50">
		<div class="middle-column">

			<form name="post" method="post" action="{{ url_for('create_band') }}">
				<label>Band's name</label>
				<input type="text" name="band_name" maxlength="1024"/>

				<label>Band's start year</label>
				<input type="text" name="start_year" maxlength="1024"/>

				<label>Band's end year</label>
				<input type="text" name="end_year" maxlength="1024"/>

				<label>Band's origin place</label>
				<input type="text" name="origin" maxlength="1024"/>
				
				
				<button type="submit">Submit</button>
			</form>
			{% if error is defined %}
			<hr/>
			<p>{{ error }}</p>
			{% endif %}

		</div>
	</div>
{% endblock %}
