{% extends "base.html" %}

{% block content %}
	<div class="single-column-layout-25">
		<div class="middle-column">
			<div class = "section">
				{% if error != None %}
					<p>{{ error }}</p>
				{% else %}
						
				<h4>{{ album.name }}</h4>
					<ul>				
						<li>Album Label:    {{ album.label }}</li>
						<li>Album Year of publication:   {{ album.year_of_publication }}</li>
						<li>Band: <a href = "{{ url_for('show_band', band_id = band_id) }}">{{ band_name }}</a></li>
						<li>Tracks:</li>
						{% for item in track_list %}

								<ol>{{ item.name }}</ol>
								<ol>{{ (item.duration-item.duration%60)/60 }} : {{ item.duration%60 }}</ol>

						{% endfor %}
					</ul>
				{% endif %}
			</div>
		</div>
	</div>
{% endblock %}
