{% extends "base.html" %}

{% block content %}
	<div class="single-column-layout-25">
		<div class="middle-column">
			<div class = "section">
				{% if error != None %}
					<p>{{ error }}</p>
				{% else %}
						
				<h4>{{ band.name }}</h4>
					<ul>				
						<li>Band Info:</li>

								<ol>{{ band.first_year_active }}--{{ band.last_year_active }}</ol>
								<ol>{{ band.place_of_origin }}</ol>
						<li>Genres:</li>
						{% for item in band.genres %}

								<ol>{{ item.name }}</ol>

						{% endfor %}
						<li>Albums:</li>
						{% for item in albums %}

								<ol><a href="{{ url_for('show_album', album_id = item.id) }}">{{item.name}}</a></ol>

						{% endfor %}
						
					</ul>
				{% endif %}
			</div>
		</div>
	</div>
{% endblock %}
